@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Parisienne&display=swap');

* {
    padding: 0;
    margin: 0;
    border: none;
}

body {
    font-family: parisienne, open sans, Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 300;
    color: black;
}
