@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Parisienne&display=swap');

* {
    padding: 0;
    margin: 0;
    border: none;
}

body {
    font-family: parisienne, open sans, Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 300;
    color: black;
}

/* background image */

body {
    
    font-family: open sans, Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

/* Site title and nav menu for all pages */

nav {
    width: 100%;
    height: 125px;
    background-color: #fff;
    
}

nav p {
    color: rgb(146, 70, 99);
    font-size: 44px;
    line-height: 50px;
    float: left;
    padding: 40px 20px;
    font-family: parisienne, open sans, Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

nav ul {
    float: left;
}

nav ul li {
    float: left;
    list-style: none;
    font-family: parisienne, open sans, Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

nav ul li a {
    display: inline-block;
    color: rgb(58, 58, 58);
    font-size: 28px;
    padding: 50px 15px;
    text-decoration: none;   
}

nav ul li .active {
    text-decoration: underline 2px;
}


/* index.html style */

.section-1 {
    background-image: url(/assets/images/pexels-dmitry-zvolskiy-1676133.jpg);
    background-attachment: fixed;
    background-size: cover;
}

/* Background Image break */

.section-1 {
    height: 600px;
}

/* About Us Section */

.section-2 {
    width: 100%;
    height: fit-content;
    background-color: #fff;
    padding: 50px 10px 50px 10px;
    
}

.section-2 h1 {
    font-size: 45px;
    font-family: parisienne, open sans, Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: rgb(146, 70, 99);
    padding: 10px 0;
}

.section-2 p {
    font-size: 22px;
    font-family: open sans, Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    width: 80%;
}

/* Background Image break */

.section-3 {
    width: 100%;
    height: 50px;

}

/* Picture boxes with hyperlinks */

.section-4 div {
    width: 30%;
    height: 400px;
    float: left;
    box-sizing: border-box;
    border: 5px #000 solid;
    margin: 1%;
    padding: 5px 0;
}

#dresses, #testimonials, #faq, a {
    text-align: center;
    font-size: 40px;
    color: rgb(146, 70, 99);
    font-family: parisienne, open sans, Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    padding-top: 50px;
    text-decoration: none;
}

#dresses, #testimonials, #faq, a:hover {
    color: rgb(146, 70, 99);
    text-decoration: solid 2px rgb(146, 70, 99);
}

.section-4 #dresses {
    background-image: url(/assets/images/pexels-terje-sollie-313702.jpg);
    background-size: cover;
    overflow: hidden;
}


.section-4 #faq {
    background-image: url(/assets/images/pexels-pixabay-51159.jpg);
    background-size: cover;
    overflow: hidden;
}

.section-4 #testimonials {
    background-image: url(/assets/images/pexels-jeremy-wong-1043902.jpg);
    background-size: cover;
    overflow: hidden;
}
    
/* Contact Us Form */

div .section-5 h1, form {
    padding-top: 20px;
    background-color: #fff;
    width: 100%;
}

.section-5 > h1 {
    font-size: 40px;
    font-family: parisienne, open sans, Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: rgb(146, 70, 99);
    padding: 20px 0;
    width: 100%;
    text-align: center;
    background-color: #fff;
}

form {
    font-size: 22px;
    font-family: open sans, Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    height: 500px;
    width: 100%;
    padding: 20px 0 20px 20px;
    display: grid;
}

input {
    width: 80%;
    border-bottom: #000 1px solid;
    padding: 10px;
}

#message {
    overflow: scroll;
    line-height: 10px;
}

#send-button {
    width: 20%;
    margin: 10px 0 ;
    border: #000 1px solid;
    border-radius: 5px;
    background-color: rgb(146, 70, 99);
    color: #fff;
    font-family: open sans, Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 28px;
    padding: 5px 10px;
}

/* our-dresses.html */


.our-dresses h1 {
    background-color: #fff;
    color: rgb(146, 70, 99);
    text-align: center;
    font-family: parisienne, open sans, Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 38px;
    padding: 30px 0;
    width: 100%;
}

.our-dresses p {
    background-color: #fff;
    color: #000;
    width: 100%;
    font-family: open sans, Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
    font-size: 22px;
    padding-bottom: 25px;
}


div .image-container {
    border: rgb(146, 70, 99) solid 5px;
    background-color: #fff;
    height: 1000px;
}

div .bride {
    width: 25%;
    height: 500px;
    float: left;
    overflow: hidden;

}

/* other-services */

.other h1 {
    background-color: #fff;
    color: rgb(146, 70, 99);
    text-align: center;
    font-family: parisienne, open sans, Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 38px;
    padding: 30px 0;
    width: 100%;
}

.other h2 {
    background-color: #fff;
    color: rgb(146, 70, 99);
    text-align: center;
    font-family: parisienne, open sans, Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 28px;
    padding: 20px 0;
    width: 100%;
}

.other h4 {
    background-color: #fff;
    color: #000;
    width: 100%;
    font-family: open sans, Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
    font-size: 22px;
    padding: 25px 20px;
}

.other p {
    background-color: #fff;
    color: #000;
    width: 100%;
    font-family: open sans, Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
    font-size: 22px;
    padding: 25px 20px;
}

div .accessories-container {
    border: rgb(146, 70, 99) solid 5px;
    background-color: #000;
    height: 600px;
    width: 100%;
}

div .accessory {
    width: 25%;
    height: 600px;
    float: left;
    overflow: hidden;
}



