@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Parisienne&display=swap');

* {
    padding: 0;
    margin: 0;
    border: none;
}

body {
    font-family: parisienne, open sans, Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 300;
    color: black;
}

body {
    background-image: url(/assets/images/pexels-dmitry-zvolskiy-1676133.jpg);
    background-attachment: fixed;
    background-size: cover;
    font-family: open sans, Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

nav {
    width: 100%;
    height: 125px;
    background-color: #fff;
    
}

nav p {
    color: rgb(146, 70, 99);
    font-size: 44px;
    line-height: 50px;
    float: left;
    padding: 40px 20px;
    font-family: parisienne, open sans, Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

nav ul {
    float: left;
}

nav ul li {
    float: left;
    list-style: none;
    font-family: parisienne, open sans, Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

nav ul li a {
    display: inline-block;
    color: rgb(58, 58, 58);
    font-size: 28px;
    padding: 50px 15px;
    text-decoration: none;
    
}
.section-1 {
    height: 600px;
}

.section-2 {
    width: 100%;
    height: fit-content;
    background-color: #fff;
    padding: 50px 100px;
    
}

.section-2 h1 {
    font-size: 45px;
    font-family: parisienne, open sans, Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: rgb(146, 70, 99);
    padding: 10px;
}

.section-2 p {
    font-size: 22px;
    font-family: open sans, Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    width: 80%;
}

.section-3 {
    width: 100%;
    height: 450px;

}

.section-4 div {
    width: 30%;
    height: 400px;
    float: left;
    box-sizing: border-box;
    border: 5px #000 solid;
    margin: 1%;
    padding: 5%;
}

.section-4 h2 {
    text-align: center;
    font-size: 300%;
    color: rgb(146, 70, 99);
    font-family: parisienne, open sans, Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    padding-top: 10px;
}

.section-4 #dresses {
    background-image: url(/assets/images/pexels-terje-sollie-313702.jpg);
    background-size: cover;
    overflow: hidden;
}

.section-4 #faq {
    background-image: url(/assets/images/pexels-pixabay-51159.jpg);
    background-size: cover;
    overflow: hidden;
}

.section-4 #testimonials {
    background-image: url(/assets/images/pexels-jeremy-wong-1043902.jpg);
    background-size: cover;
    overflow: hidden;
}
    

.section-5 h1, form {
    padding-top: 100px;
    float: left;
}

.section-5 h1 {
    font-size: 28px;
    font-family: parisienne, open sans, Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    padding: 20px;
}

form {
    font-size: 24px;
    font-family: open sans, Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    height: 400px;
    width: 600px;
}

input {
    width: 100%;
    padding: 10px 0;
}